/*<meta />*/

/* Header Styles */

header
{
	color: #686867;
	background-color: #F3F3F3;
	border-bottom: 20px #E1E1E1 solid;
	margin: 1px auto 1.25em 17%;
	padding: 0px 5%;
	height: 90px;
}

header p
{
	font-size: 1.375em;
	text-transform: uppercase;
	margin: 0;
	padding: 20px 0;
}

header aside,
header nav
{
	margin: 0;
	padding: 20px 0;
}

/* Footer Styles */

footer
{
	font-size: 0.875em;
	color: #777;
	border-top: 8px #215853 solid;
}

footer nav ul
{
	font-weight: 400;
}

footer nav li a,
footer nav li a:link
{
	color: #777;
	padding: 0px 0.7em;
	font-weight: inherit;
}

footer nav li:last-child a
{
	padding-right: 0;
}

footer nav li a:hover
{
	color: #777;
	text-decoration: underline;
}

#resultList h3.title a:hover
{
	color: #CE1141;
	text-decoration: none;
}

html.searchTopic header
{
	background-color: transparent;
	border-bottom: none;
	width: 100%;
	position: absolute;
}

html.searchTopic #searchPane
{
	margin-top: 10%;
}

/* Home Page Styles */

html.homePage
{
	mc-master-page: url('MasterPages/HomePage.flmsp');
}

html.homePage section.body
{
	margin: 1px 0px 2.5em 0px;
	width: 100%;
	padding: 0 15%;
}

html.homePage header
{
	margin: 0;
	background-color: transparent;
	border-bottom: none;
	padding: 0;
}

section.backsplash h1
{
	color: inherit;
	margin: 0.67em 0;
}

section.backsplash p
{
	margin: 1em 0;
}

section.launchpad
{
	color: #3d3d3d;
	background-color: #F3F3F3;
	border: 1px #DDD solid;
	border-radius: 3px;
	padding: 10px;
}

section.launchpad nav
{
	margin: 0 10px;
}

section.launchpad div
{
	padding: 0 1em;
	vertical-align: top;
}

section.launchpad h2
{
	font-size: 1em;
	margin: 0.83em 0;
}

section.launchpad p
{
	font-size: 0.875em;
	font-weight: 400;
	margin: 1em 0;
}

section.launchpad a
{
	color: #2AA4A8;
}

section.launchpad a:hover,
section.launchpad a:focus
{
	color: #CE1141;
}

h1#results-heading
{
	color: #333;
	font-size: 16px;
}

#resultList h3.title
{
	font-size: 16px;
}

#resultList h3.title a,
#resultList h3.title a:link,
#resultList h3.title a:visited,
#resultList h3.title a:active
{
	color: #2AA4A8;
	text-decoration: none;
	border-bottom: 0;
	font-weight: 500;
}

#resultList div.description
{
	font-size: 16px;
	line-height: 1.5em;
}

#resultList div.url
{
	display: none;
}

@media screen
{
	section.tab-bar-section.middle,
	div.title-bar-section.middle
	{
		border-bottom: 4px #000 solid;
		height: 82px;
	}

	div.navigation-wrapper
	{
		float: none;
	}

	ul.navigation
	{
		text-transform: uppercase;
		font-weight: 400;
		max-width: none;
	}
	
	ul.navigation > li > a
	{
		border-bottom: 4px #000 solid;
	}

	ul.navigation > li > a:hover
	{
		border-bottom-color: #2AA4A8;
	}

	ul.navigation ul
	{
		background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
		font-weight: 900;
	}

	ul.navigation li,
	ul.navigation li:hover
	{
		background-position: right 13px;
	}

	ul.navigation > li.has-children:after
	{
		content: none;
	}

	ul.navigation li li
	{
		background-image: none;
		background-color: transparent;
	}

	ul.navigation ul ul
	{
		background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
		font-weight: 400;
		text-transform: none;
		padding: 10px;
	}

	ul.navigation > li > a.selected
	{
		border-bottom-color: #2AA4A8;
		background: #FFF url('../Stylesheets/Images/MenuCaret_Hover_10x10.png') no-repeat scroll right 13px;
	}

	ul.navigation > li:hover > a.selected,
	ul.navigation > li:active > a.selected
	{
		border-bottom: 0;
	}

	div.search-submit:hover,
	div.search-submit:active
	{
		background-color: #2AA4A8;
	}

	ul.menu._Skins_Menu,
	ul.menu._Skins_Top_Nav_Menu.mc-component
	{
		overflow: hidden;
		float: left;
	}

	ul.menu._Skins_Menu li a,
	ul.menu._Skins_Menu ul li a,
	ul.menu._Skins_Menu ul ul li a,
	ul.menu._Skins_Top_Nav_Menu.mc-component li a,
	ul.menu._Skins_Top_Nav_Menu.mc-component ul li a,
	ul.menu._Skins_Top_Nav_Menu.mc-component ul ul li a
	{
		background: rgba(15, 15, 15, 0.8) none repeat scroll;
		border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
	}

	ul.menu._Skins_Menu li a:hover,
	ul.menu._Skins_Menu li a.selected:hover,
	ul.menu._Skins_Top_Nav_Menu.mc-component li a:hover,
	ul.menu._Skins_Top_Nav_Menu.mc-component li a.selected:hover
	{
		border-right: 8px #CE1141 solid;
	}

	ul.menu._Skins_Menu li a.selected,
	ul.menu._Skins_Top_Nav_Menu.mc-component li a.selected
	{
		border: 1px #2B857E solid;
	}

	ul.menu._Skins_Menu > li > a.selected,
	ul.menu._Skins_Top_Nav_Menu.mc-component > li > a.selected
	{
		font-weight: bold;
	}

	div.sidebar ul.menu._Skins_Menu,
	div.sidebar ul.menu._Skins_Top_Nav_Menu.mc-component
	{
		width: 100%;
		padding: 0;
		background-image: none;
	}

	div.sidebar span.MCDropDownHead
	{
		font-weight: 900;
		padding: 0;
		border: 0;
	}

	div.sidebar a.MCDropDownHotSpot
	{
		text-indent: 16px;
		background-position: 12px center !important;
		color: #CE1141;
	}

	div.sidebar div.MCDropDown a:hover
	{
		color: #FFF;
	}

	div.sidebar div.MCDropDownBody
	{
		padding: 0;
		border-width: 1px 0 0 0;
		background: transparent;
	}

	div.sidebar div.MCDropDown div.conceptLink,
	div.sidebar div.MCDropDown div.relatedTopics
	{
		padding: 0;
		background-color: transparent;
	}

	div.sidebar div.MCHelpControl span
	{
		background-image: none;
		padding-left: 0;
	}

	footer nav
	{
		float: right;
	}

	header p,
	header aside,
	header nav,
	footer div,
	footer nav li
	{
		float: left;
	}

	section.backsplash
	{
		margin: 2.5em 0;
		padding: 0 5em;
		background: #686867 url('../Stylesheets/Images/BackSplash.png') no-repeat scroll center center;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		color: #FFF;
	}

	section.backsplash div
	{
		background-color: rgba(0, 0, 0, 0.75);
		padding: 3em;
		width: 26.5em;
	}

	section.backsplash h1
	{
		font-size: 2em;
		line-height: 2em;
	}

	section.backsplash p
	{
		font-size: 1.125em;
		line-height: 2em;
	}

	section.launchpad div
	{
		width: 32.8%;
		display: inline-block;
	}
}

/* Desktop styles */
@media screen and (min-width: 1280px)
{
	html.homePage section.body
	{
		padding: 0 20%;
	}
}

/* Large tablet styles */
@media screen and (max-width: 1279px)
{
	nav.title-bar
	{
		padding-bottom: 25px;
	}
		
	html.homePage nav.title-bar
	{
		padding-bottom: 20px;
	}
	
	ul.menu,
	ul.menu._Skins_Top_Nav_Menu.mc-component
	{
		padding-left: 0;
	}
	
	html.homePage section.body
	{
		padding: 0 12.5%;
	}
}

/* Medium tablet styles */
@media screen and (max-width: 991px)
{
	section.backsplash
	{
		padding: 0 2.5em;
	}
	
	section.backsplash div
	{
		padding: 2em;
	}
}

/* Smart phone/small tablet styles */
@media screen and (max-width: 767px)
{
	html.homePage section.body
	{
		padding: 2%;
	}

	section.backsplash,
	ul.menu._Skins_Top_Nav_Menu.mc-component
	{
		display: none;
	}
		
	header
	{
		margin: 0;
	}
	
	section.launchpad div
	{
	width: 100%;
	display: block;
	}
}

/*
@media screen and (max-width: 1023px)
{
	html.homePage section.body
	{
		padding: 0;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1151px)
{
	html.homePage section.body
	{
		padding: 0 8.5%;
	}
}

@media screen and (min-width: 1152px) and (max-width: 1279px)
{
	html.homePage section.body
	{
		padding: 0 12.5%;
	}
}

@media only screen and (max-width: 1279px)
{
	ul.navigation
	{
		display: block;
	}
}
*/