@import url('TopNavFonts.css');
@import url('../Stylesheets/BaseStyles.css');
@import url('SkinStyles.css');
@import url('../Print Support/Page_Layout.css');
@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

.clear,
.clearRight,
.lowerCase,
.pgbreak
{
}

html
{
	mc-master-page: url('MasterPages/TopicPage.flmsp');
}

html.sidebarPage
{
	mc-master-page: url('MasterPages/SidebarPage.flmsp');
}

html div.sidebar
{
	display: none;
}

html.sidebarPage div.sidebar
{
	display: block;
}

body
{
	color: #333;
	font-family: 'Roboto', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-size: 16px;
}

a,
a:link
{
	color: #2aa4a8;
	font-weight: 500;
}

a:hover,
a:focus
{
	color: #CE1141;
	border-bottom: 1px #CE1141 solid;
}

a.bug
{
	background-image: url('../Stylesheets/Images/Bug_BW_16x16.png');
}

a.email
{
	background-image: url('../Stylesheets/Images/Email_BW_16x16.png');
}

a.pdf
{
	background-image: url('../Stylesheets/Images/PDF_BW_16x16.png');
}

a.word
{
	background-image: url('../Stylesheets/Images/Word_BW_16x16.png');
}

a.url
{
	background-image: url('../Stylesheets/Images/Globe_BW_16x16.png');
}

div.sidebar a,
div.sidebar a.MiniTOC1
{
	padding: 1.143em 1.143em 1.143em 2.286em;
	font-weight: inherit;
}

div.sidebar a:hover
{
	background-color: #2B857E;
	border-right: 8px #CE1141 solid;
}

caption
{
	color: #1A6668;
}

div.figure,
div.inset,
div.left,
div.right
{
	margin: 1em 0;
}

div.sidebar
{
	font-size: 0.875em;
}

em
{
	font-weight: 500;
}

img.thumb100px,
img.thumb160px,
img.size100px,
img.size160px,
img.size220px,
img.thumb220px,
img.size340px,
img.thumb340px,
img.size400px,
img.thumb400px,
img.size520px,
img.thumb520px,
img.size640px,
img.thumb640px
{
}

h1
{
	color: #000;
	font-size: 1.4em;
	font-weight: 500;
	margin: 2.7em 0 0.67em;
	clear: right;
}

h2
{
	color: #CE1141;
	font-weight: 700;
	clear: right;
}

h3
{
	font-weight: 700;
}

h4
{
	color: #2AA4A8;
	font-weight: 500;
}

h6,
h5
{
	color: #777;
	font-weight: 500;
}

div.sidebar h6
{
	color: #CE1141;
	font-size: 1em;
	text-transform: capitalize;
	margin: 0;
	padding: 1.143em;
	clear: both;
}

h1.QuickStart,
h2.QuickStart
{
	
}

p
{
	font-weight: 300;
}

/*
p.inset,
p.right
{
	margin: 1em 0;
}

p.left
{
	margin: 0 0 1em 0;
}
*/

p.caption,
div.figure p,
div.inset p,
div.left p,
div.right p
{
	color: #1A6668;
	font-weight: normal;
}

div.sidebar p
{
	font-weight: normal;
}

section.body
{
	margin: 0 auto 0 17%;
	padding: 0 5%;
	overflow: auto;
}

section.launchpad,
section.backsplash
{
}

strong
{
	font-weight: 900;
}

table
{
	color: #777;
	font-size: 0.875em;
	font-weight: 300;
}

td
{
	line-height: 2em;
	padding: 0.428em;
	text-align: left;
	vertical-align: middle;
}

thead
{
	border-color: #C4C4C4;
}

th
{
	color: #FFF;
	background-color: #666;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0.357em 0.5em;
	text-align: center;
	border: 1px #C4C4C4 solid;
}

tbody tr
{
	border-bottom: 1px #DFDFDF solid;
}

tbody tr:nth-of-type(2n+1)
{
	background-color: #F3F3F3;
}

table.layout tr
{
	background-color: transparent;
}

ul,
ol
{
	font-weight: 300;
	margin: 1.25em 0;
}

ul.noBullets,
ol.size100px,
ul.thumb100px,
ul.thumb220px
{
	
}


MadCap|breadcrumbsProxy
{
	color: #F4D4DC;
	background-color: #D11E49;
	font-size: 0.625em;
	font-weight: normal;
	padding-top: 0.3em;
	padding-right: 0;
	padding-bottom: 0.3em;
	padding-left: 5%;
	margin: 0;
	border-bottom: 0;
	mc-breadcrumbs-count: 5;
	mc-breadcrumbs-divider: ' / ';
	mc-breadcrumbs-prefix: " ";
}

a.MCBreadcrumbsLink:focus,
a.MCBreadcrumbsLink:hover
{
	text-decoration: underline;
}

MadCap|conceptLink
{
	color: #CE1141;
	font-weight: 900;
	background: rgba(15, 15, 15, 0.8);
	padding: 16px 0 0 0;
	text-indent: 16px;
	clear: left;
	mc-image: none;
}

MadCap|dropDown
{
	clear: right;
}

MadCap|dropDown.sidebar
{
	margin: 0;
	border-color: rgba(255, 255, 255, 0.25);
	color: #CE1141;
	clear: both;
	mc-closed-image: url('../Stylesheets/Images/Expand_BW_16x16.png');
	mc-open-image: url('../Stylesheets/Images/Collapse_BW_16x16.png');
}

MadCap|dropDown.note,
MadCap|dropDown.tip,
MadCap|dropDown.warning
{
}

MadCap|dropDownHead
{
	font-weight: 700;
}

table span.equation,
table span.symbol
{
	color: #777;
}

div.figure span.equation,
div.figure span.symbol,
table.layout span.equation,
table.layout span.symbol
{
	color: #0D0D0D;
}

MadCap|glossaryTerm
{
	color: #2AA4A8;
	border-bottom: 0;
}

MadCap|glossaryTerm:hover
{
	color: #CE1141;
}

MadCap|helpControlList
{
	margin: 0;
	text-indent: 0;
}

MadCap|helpControlListItem
{
	color: #FFF;
	margin: 0;
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

MadCap|helpControlListItemLink,
MadCap|helpControlListItemLink:link
{
	font-weight: normal;
}

MadCap|keywordLink
{
	color: #CE1141;
	font-weight: 900;
	background: rgba(15, 15, 15, 0.8);
	padding: 16px 0 0 0;
	text-indent: 16px;
	clear: left;
	mc-image: none;
}

MadCap|miniTocProxy
{
	margin: 0;
}

div.sidebar p.MiniTOC1
{
	font-weight: normal;
}

MadCap|popupBody
{
	background-color: #2AA4A8;
	font-size: 0.875em;
}

MadCap|relatedTopics
{
	color: #CE1141;
	font-weight: 900;
	background: rgba(15, 15, 15, 0.8);
	padding: 16px 0 0 0;
	text-indent: 16px;
	clear: left;
	mc-image: none;
}

MadCap|relationshipsHeading,
MadCap|relationshipsHeading.concept,
MadCap|relationshipsHeading.reference,
MadCap|relationshipsHeading.task
{
	display: none;
}

MadCap|relationshipsItem
{
	margin: 0;
}

MadCap|toggler
{
	color: #2AA4A8;
}

MadCap|xref
{
	color: #2AA4A8;
}

MadCap|xref.title
{
	font-weight: normal;
}

MadCap|xref.sectionLink
{
	font-weight: 500;
}

MadCap|xref.multiple_first
{
	
}

MadCap|xref.multiple_last
{
	
}

MadCap|xref.QuickStart
{
	
}


@media print
{
	header,
	footer
	{
		display: none;
	}
	section.body
	{
		margin: 0;
		padding: 0;
	}
	h1
	{
		margin-top: 0;
	}
	h2,
	h3,
	h4,
	h5,
	h6
	{
		page-break-after: avoid;
	}
	
	ol,
	ul
	{
		page-break-before: avoid;
	}
}

@media screen
{
	header p
	{
		width: 60%;
		max-width: 548px;
	}

	header aside,
	header nav
	{
		width: 40%;
		max-width: 365px;
	}
	
	html.homePage header p,
	html.homePage header aside,
	html.homePage header nav
	{
		max-width: none;
	}

	footer
	{
		margin: 4em auto 1.4em auto;
		padding: 1em 5%;
	}

	footer nav li a,
	footer nav li a:link
	{
		border-right: 1px solid #777;
		display: block;
	}

	footer nav li:last-child a
	{
		border-right: 0;
		padding-right: 0;
	}

	section.body
	{
		min-height: 350px;
	}

	div.sidebar
	{
		padding: 0 0 2.857em 1.785em;
		background: transparent url('../Stylesheets/Images/NavBG_Large.png') no-repeat scroll center center;
		float: left;
		width: 17%;
		position: absolute;
		left: 0;
		top: 30px;
	}

	div.sidebar h6
	{
		background-color: rgba(15, 15, 15, 0.8);
		border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
	}

	div.sidebar a,
	div.sidebar a.MiniTOC1
	{
		color: #FFF;
		border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
		background-color: rgba(15, 15, 15, 0.8);
		display: block;
	}

	img.MCPopupThumbnail
	{
		background-image: url('../Stylesheets/Images/Zoom_In_BW_24x24.png');
	}

	p,
	table,
	ul,
	ol,
	div.figure,
	div.inset,
	div.dropDown
	{
		margin-right: 20%;
		max-width: 800px;
	}

	p.right,
	div.right
	{
		margin-right: 0;
		margin-left: 1.25em;
		max-width: none;
	}
}

@media screen and (max-width: 1279px)
{
	html.sidebarPage div.sidebar
	{
		padding-left: 0;
		/*top: 130px;*/
	}
}

@media screen and (max-width: 1023px)
{	
	p,
	table,
	ul,
	ol,
	div.figure,
	div.inset,
	div.dropDown
	{
		margin-right: 0;
	}
		
	img.MCPopupThumbnail
	{
		max-width: 50%;
	}
}

@media screen and (max-width: 767px)
{
	section.body
	{
		margin: 0;
	}

	html.sidebarPage div.sidebar
	{
		display: none;
	}
	
	img.MCPopupThumbnail
	{
		display: none;
	}
}
