/*<meta />*/

/* Prevents Safari in landscape orientation from zooming in on text*/

body
{
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 16px;
}

/* Default css class for hiding element*/

.hidden
{
	display: none;
}

a.glossaryTerm
{
	text-decoration: none;
}

/**/

#ios-wrapper
{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.img_off
{
	display: none;
}

/* Feedback/Pulse */

.button.pulse-required,
.button.feedback-required,
.pulse-required,
.feedback-required,
.feedback-topic-required,
.feedback-topic-required
{
	display: none;
}

.pulse-active .pulse-required,
.feedback-active .feedback-required,
.feedback-active.has-topic .feedback-topic-required
{
	display: inline-flex;
}

/* Login Dialog */

.login-dialog
{
	display: none;
	z-index: 10001;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -175px;
	width: 350px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.login-dialog.pulse
{
	position: fixed;
	width: 408px;
	height: 428px;
	margin-left: -204px;
	margin-top: -214px;
}

#pulse-login-frame
{
	width: 100%;
	height: 100%;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.login-dialog-header
{
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding-left: 50px;
	border-bottom: solid 1px #2B2B2B;
	background: #5A5A5A url("Images/login-dialog-icon.png") no-repeat 18px center;
	/* Old browsers */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -moz-linear-gradient(top, #5A5A5A 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A5A5A), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -o-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -ms-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* IE10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(#5A5A5A 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(#5A5A5A, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: 18px center;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.login-dialog-content
{
	border-top: solid 1px #767676;
	background: #5A5A5A;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding: 17px;
}

.login-dialog-content .profile-item-wrapper
{
	color: #CECECE;
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}

.login-dialog-content .profile-item-wrapper .label-wrapper
{
	margin-bottom: 5px;
	float: left;
}

.login-dialog-content .profile-item-wrapper .input-wrapper
{
	float: right;
}

.login-dialog-content .profile-item-wrapper input[type=text]
{
	margin: 0;
	padding: 5px;
	border: solid 1px #191919;
	background: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
	outline: none;
}

.login-dialog-content .profile-item-wrapper.email-notifications-wrapper
{
	margin-top: 15px;
	height: auto;
	line-height: normal;
}

.login-dialog-content .profile-item-wrapper.email-notifications-wrapper .label-wrapper
{
	float: none;
}

.login-dialog-content .profile-item-wrapper.email-notifications-wrapper .email-notifications-group
{
	margin-right: 0;
	padding: 12px;
	background-color: #4A4A4A;
	background-repeat: no-repeat;
	background-position: center center;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
}

.login-dialog-content .profile-item-wrapper.error input,
.login-dialog-content .profile-item-wrapper.error select
{
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.login-dialog-buttons
{
	text-align: right;
}

.login-dialog button
{
	color: #FFF;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 0;
	padding: 8px 26px;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #595959;
	/* Old browsers */
	background: -moz-linear-gradient(top, #595959 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* IE10+ */
	background: linear-gradient(#595959 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: linear-gradient(#595959, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.login-dialog button.close-dialog
{
	position: absolute;
	top: 8px;
	right: 8px;
	background: none;
	background-image: url('Images/close.png');
	height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}

.login-dialog .status-message-box
{
	display: none;
	color: #0F0;
	text-align: center;
	margin-top: 16px;
	padding: 12px;
	background-color: #DCFEDC;
	border: solid 1px #0F0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.login-dialog .status-message-box.error
{
	color: #F00;
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.login-dialog .status-message-box .message
{
	display: none;
}

.backlink-container
{
	position: absolute;
	bottom: 11px;
	right: 20px;
}

.backlink-container-topnav
{
	bottom: 4px;
	right: 4px;
}

.backlink-container-sidenav
{
	bottom: 20px;
	right: 20px;
}

#mc-backlink
{
	text-decoration: none;
	color: #7d858a;
	font-size: 15px;
	font-family: Arial;
	font-weight: normal;
}

#mc-backlink > sup
{
	font-size: 12px;
}

.height-container
{
	/* just to contain top margin of element inside */
	padding-top: 0.1px;
	position: relative;
	box-sizing: border-box;
}

.height-container-no-footer
{
	padding-bottom: 30px;
}

.height-container-sidenav
{
	padding-bottom: 40px;
}

/* to contain floating elements in the div */

.height-container:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.codeSnippet
{
	overflow: auto;
}

.codeSnippetBody
{
	margin: 0;
	font-family: inherit;
	overflow: auto;
}

.codeSnippetBody > pre
{
	font-family: inherit;
	margin: 0;
}

.codeSnippetBody > pre > code
{
	font-family: inherit;
}

.codeSnippetBody span.codeSnippetLineNumbers
{
	text-decoration: inherit;
	float: left;
	margin-top: 0;
	margin-right: 0.5rem;
	padding-right: 1rem;
	text-align: right;
}

.codeSnippetCopyButton
{
	font: inherit;
	right: 0;
}

.multipleChoice > fieldset
{
	border: none;
}

.multipleChoice > .submitQuestionButton
{
	display: block;
}

.multipleChoiceItem
{
	display: flex;
}

.multipleChoiceItem > div
{
	display: inline-block;
}

.multipleChoiceItem > div > p:first-child
{
	margin-top: 0;
}

.multipleChoiceItem > input
{
	vertical-align: top;
}

.topicQuestionFeedback
{
	display: none;
}

.mc-el-hidden
{
	opacity: 0;
}

.xref
{
	color: #2AA4A8;
	text-decoration: none;
}

div.MCBreadcrumbsBox_0
{
	color: #F4D4DC;
	background-color: #D11E49;
	font-size: 0.625em;
	font-weight: normal;
	padding-top: 0.3em;
	padding-right: 0;
	padding-bottom: 0.3em;
	padding-left: 5%;
	margin: 0;
	border-bottom: 0;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: black;
	margin-bottom: 0;
}

.xref.xrefsectionLink
{
	font-weight: 500;
	border: none;
}

.dropDown
{
	clear: right;
	margin: 1em 0;
	border-color: #215853;
	background-color: #1C7A91;
	background: #1C7A91 linear-gradient(to right, #55937C 0%, #1C7A91 100%) repeat scroll 0% 0%;
	color: #FFF;
	font-size: 1em;
}

.dropDown.dropDownnote
{
	color: #333;
	background-color: #FFE433;
	background: #FFE433 linear-gradient(to right, #FFE433 0%, #F2E424 100%) repeat scroll 0% 0%;
	border-color: #E8D423;
}

.dropDownHotspot
{
	color: inherit;
	text-decoration: none;
}

.dropDownHotspot:link
{
	color: inherit;
	text-decoration: none;
}

.dropDownHotspot:hover
{
	border-bottom: 0;
	color: inherit;
}

.dropDownHotspot:focus
{
	border-bottom: 0;
	color: inherit;
}

.MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_note
{
	background-position: left;
	background-image: url('Chevron_Open_16x16.png');
	padding-left: 16px;
	padding-right: 0;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_note
{
	background-position: left;
	background-image: url('Chevron_Closed_16x16.png');
	padding-left: 16px;
	padding-right: 0;
}

.dropDownHead
{
	font-weight: 700;
	padding: 0.5em;
	color: inherit;
	border-width: 2px;
	border-color: inherit;
	border-style: solid;
	text-decoration: none;
}

.dropDownBody
{
	color: #333;
	background: #FFF;
	padding: 0.5em 1em;
	margin: 0;
	border-top-width: 0;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-color: inherit;
	border-style: solid;
}

.MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('Chevron_Open_BW_16x16.png');
	padding-left: 16px;
	padding-right: 0;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('Chevron_Closed_BW_16x16.png');
	padding-left: 16px;
	padding-right: 0;
}

.img
{
	vertical-align: text-bottom;
}

.MCHelpControl-Related .MCHelpControl-RelatedHotSpot_
{
	background-position: left;
	background-image: none;
	padding-left: 0;
}

.link-list-popup
{
	color: #000000;
	background-color: #dcdcdc;
	border: solid 1px #000000;
	margin: 0px;
	padding: 0px;
}

.link-list-popup ul li
{
	color: Black;
	background-color: Transparent;
	padding: 5px;
	font-family: sans-serif;
	font-size: 10pt;
}

.link-list-popup ul li:hover
{
	color: White;
	background-color: Blue;
}

.MCHelpControlList
{
	margin: 0;
	text-indent: 0;
	list-style: none;
	padding: 0;
}

.MCHelpControlListItem
{
	color: #FFF;
	margin: 0;
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.MCHelpControlListItem a
{
	font-weight: normal;
}

.MCHelpControlListItem a:link
{
	font-weight: normal;
}

.MCHelpControlListItem a:visited
{
	
}

.MCHelpControlListItem a:hover
{
	
}

.MCHelpControlListItem a:focus
{
	
}

.MCConceptLinkControlList
{
	
}

.MCConceptLinkControlListItem
{
	
}

.MCConceptLinkControlListItem a
{
	
}

.MCConceptLinkControlListItem a:link
{
	
}

.MCConceptLinkControlListItem a:visited
{
	
}

.MCConceptLinkControlListItem a:hover
{
	
}

.MCConceptLinkControlListItem a:focus
{
	
}

.MCKeywordLinkControlList
{
	
}

.MCKeywordLinkControlListItem
{
	
}

.MCKeywordLinkControlListItem a
{
	
}

.MCKeywordLinkControlListItem a:link
{
	
}

.MCKeywordLinkControlListItem a:visited
{
	
}

.MCKeywordLinkControlListItem a:hover
{
	
}

.MCKeywordLinkControlListItem a:focus
{
	
}

.MCRelatedTopicsControlList
{
	
}

.MCRelatedTopicsControlListItem
{
	
}

.MCRelatedTopicsControlListItem a
{
	
}

.MCRelatedTopicsControlListItem a:link
{
	
}

.MCRelatedTopicsControlListItem a:visited
{
	
}

.MCRelatedTopicsControlListItem a:hover
{
	
}

.MCRelatedTopicsControlListItem a:focus
{
	
}

.relatedTopics
{
	color: #CE1141;
	font-weight: 900;
	background: rgba(15, 15, 15, 0.8);
	padding: 16px 0 0 0;
	text-indent: 16px;
	clear: left;
	font-size: 1em;
}

.dropDown.dropDownsidebar
{
	margin: 0;
	border-color: rgba(255, 255, 255, 0.25);
	color: #CE1141;
	clear: both;
	background: transparent;
}

.MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_sidebar
{
	background-position: left;
	background-image: url('Collapse_BW_16x16.png');
	padding-left: 0px;
	padding-right: 0;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_sidebar
{
	background-position: left;
	background-image: url('Expand_BW_16x16.png');
	padding-left: 0px;
	padding-right: 0;
}

.dropDown.dropDownwarning
{
	background-color: #E51707;
	background: #E51707 linear-gradient(to right, #E51707 0%, #FC0543 100%) repeat scroll 0% 0%;
	border-color: #CF0015;
}

.MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_warning
{
	background-position: left;
	background-image: url('Chevron_Open_BW_16x16.png');
	padding-left: 16px;
	padding-right: 0;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_warning
{
	background-position: left;
	background-image: url('Chevron_Closed_BW_16x16.png');
	padding-left: 16px;
	padding-right: 0;
}

.glossaryTerm
{
	color: #2AA4A8;
	border-bottom: 0;
	font-weight: bold;
}

.glossaryTerm:link
{
	color: #2AA4A8;
	border-bottom: 0;
	font-weight: bold;
}

.glossaryTerm:hover
{
	color: #CE1141;
}

.MCTextPopup_Open.MCTextPopupHotSpot_
{
	background-position: right;
	background-image: none;
	padding-left: 0;
}

.MCTextPopup_Closed.MCTextPopupHotSpot_
{
	background-position: right;
	background-image: none;
	padding-left: 0;
}

.popupBody
{
	background-color: #2AA4A8;
	font-size: 0.875em;
	color: #FFF;
	padding: 10px;
	width: auto;
	max-width: 220px;
	border: solid 1px #000000;
	margin: 0px;
}

.dropDown.dropDowntip
{
	color: #333;
	background-color: #24B568;
	background: #24B568 linear-gradient(to right, #24B568 0%, #1ECCA1 100%) repeat scroll 0% 0%;
	border-color: #189E68;
}

.MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_tip
{
	background-position: left;
	background-image: url('Chevron_Open_16x16.png');
	padding-left: 16px;
	padding-right: 0;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_tip
{
	background-position: left;
	background-image: url('Chevron_Closed_16x16.png');
	padding-left: 16px;
	padding-right: 0;
}

.MCWebHelpFramesetLink a
{
	
}

.MCWebHelpFramesetLink.MCWebHelpFramesetLinkTop a
{
	
}

.MCWebHelpFramesetLink.MCWebHelpFramesetLinkBottom a
{
	
}

