/*<meta conditions="Imports.SideNav" />*/

@import url('SideNav_Base.css');

@import url('SkinStyles.css');

@import url('WebStyles.css') screen;

@import url('HiddenStyles.css');

@import url('PrintStyles.css') print;

@import url('../Print Support/Page_Layout.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root
{
	--main-border-radius: 8px;
	--main-box-shadow-color: rgba(185, 188, 194, 0.5);
	--body-line-height: 1.5em;
	--body-font-weight: 400;
	--link-font-weight: 500;
	--hover-font-weight: 600;
	--h1-font-weight: 700;
	/* Text Colors */
	--body-text-color: #4B5563;
	--sidebar-text-color: #666D7A;
	--link-text-color: #1484B4;
	--heading-text-color: #111928;
	--subheading-text-color: #156082;
	/* Fonts */
	--body-font-family: Inter, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
	--light-font-family: 'Inter Light', 'Segoe UI Light', 'Roboto Light', Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
	--code-font-family: "Courier New", Courier, monospace;
	/* Background Colors */
	--main-background-color: #fff;
	--element-background-color: #E5E7EB;
	/* background color for table headings and dropdown hotspots */
	--dropdown-head-color: #1F2A37;
	/* font color for dropdown hotspots */
	--section-background-color: #F9FAFB;
	--popup-background-color: #BFE7F8;
	--table-shading-color: var(--section-background-color);
	--highlight-background-color: #32BDF8;
	/* Border Colors */
	--main-border-color: #D1D5DB;
	/* Card Styles */
	--card-background-color1: var(--section-background-color);
	--card-background-color2: var(--element-background-color);
	--card-border-color: #B9BCC2;
	--card-text-color: var(--heading-text-color);
	--card-hover-color1: var(--link-text-color);
	--card-hover-color2: #156082;
	--card-hover-border-color: #114D69;
	--card-hover-text-color: var(--main-background-color);
	/* Code Styles */
	--codeblock-background-color: #DEF0F7;
	--codeblock-border-color: var(--link-text-color);
	--codeblock-text-color: var(--heading-text-color);
	--code-highlight-color: var(--highlight-background-color);
	/* Skin Styles */
	--skin-header-bgcolor: var(--section-background-color);
	--skin-nav-bgcolor: var(--section-background-color);
	--skin-nav-textcolor: var(--sidebar-text-color);
	--skin-nav-hover-bgcolor: #F0F9FC;
	--skin-nav-selected-border: #1F2A37;
	--skin-nav-border-color: var(--main-border-color);
	--search-border-color: var(--main-border-color);
	--search-button-bgcolor: #FFF;
	--search-button-bgcolor-hover: var(--search-button-bgcolor);
}

/* Code Styles */

div.codeblock blockquote,
blockquote div.codeblock,
blockquote blockquote
{
	border: none;
	padding: 0;
	font-size: 1em;
	margin: 0 0 0 20px;
}

blockquote p,
div.codeblock p
{
	margin-top: 0;
	margin-bottom: 0;
}

code
{
	font-family: var(--code-font-family);
	mc-disable-glossary-terms: true;
	font-size: 1em;
	padding-left: 5px;
}

span.codeHighlight
{
	background-color: var(--code-highlight-color);
}

/* Equations */

span.equation
{
	font-family: Cambria, 'Times New Roman', serif;
	color: var(--codeblock-text-color);
	font-size: 16px;
	font-style: normal;
}

span.symbol
{
	font-family: Cambria, 'Times New Roman', serif;
	color: var(--codeblock-text-color);
	font-size: 16px;
	font-style: italic;
}

span.symbol span
{
	font-style: normal;
}

span.equation sub,
span.symbol sub
{
	font-size: 0.8em;
	position: relative;
	top: 0.2em;
}

span.equation sub sub,
span.symbol sub sub
{
	top: 0.35em;
	font-size: 0.9em;
}

span.equation sup,
span.symbol sup
{
	font-size: 0.8em;
	position: relative;
	bottom: 0.2em;
}

/* Breadcrumb Styles */

a.MCBreadcrumbsLink,
a.MCBreadcrumbsLink:link,
a.MCBreadcrumbsLink:focus,
a.MCBreadcrumbsLink:hover
{
	color: var(--link-text-color);
}

a.MCBreadcrumbsLink,
a.MCBreadcrumbsLink:link
{
	font-weight: var(--link-font-weight);
}

a.MCBreadcrumbsLink:focus,
a.MCBreadcrumbsLink:hover
{
	font-weight: var(--hover-font-weight);
}

/* Dropdowns, Togglers, and Expanding Text */
/* Glossary Styles */

ul.MCGlossaryProxy_0
{
	list-style: none;
}

div.GlossaryPageHeading_0
{
	border-bottom-color: var(--main-border-color);
	color: var(--heading-text-color);
	font-weight: 600;
	font-size: 1.3em;
	line-height: 1.5em;
}

li.GlossaryPageEntry
{
	margin: 1em 0;
}

li.GlossaryPageEntry a
{
	color: var(--subheading-text-color);
	font-weight: var(--hover-font-weight);
}

/* Cross-References */
/* Mini TOC Styles */

p.MiniTOC1
{
	font-weight: var(--body-font-weight);
	color: var(--link-text-color);
}

p.MiniTOC1:hover,
a.MiniTOC1:hover
{
	font-weight: var(--hover-font-weight);
}

p.MiniTOC2
{
	margin-left: 20px;
}

p.MiniTOC3
{
	margin-left: 40px;
}

