/*<meta />*/

@media only screen and (max-width: 1279px)
{
	/* Search Styles */

	.search-bar .search-filter
	{
		font-size: 1em;
	}

	.button.login-button.feedback-required,
	.button.edit-user-profile-button.feedback-required
	{
		display: none;
	}

	.pulse-frame
	{
		display: none;
	}

	.central-account-text
	{
		display: none;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component
	{
		background: #181818 url('Images/NavBG_Large.png') no-repeat;
		-pie-background: #181818 url('Skins/Default/Stylesheets/Components/Images/NavBG_Large.png') no-repeat;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component a
	{
		
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component li > a
	{
		background-repeat: repeat;
		background: #333433 none;
		-pie-background: #333433;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component ul > li > a
	{
		background-repeat: repeat;
		background: #333433 none;
		-pie-background: #333433;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component ul ul > li > a
	{
		background-repeat: repeat;
		background: #333433 none;
		-pie-background: #333433;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component ul ul ul > li > a
	{
		background-repeat: repeat;
		background: #333433 none;
		-pie-background: #333433;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component ul ul ul ul > li > a
	{
		background-repeat: repeat;
		background: #333433 none;
		-pie-background: #333433;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component li > a.selected
	{
		background-repeat: repeat;
		background: #29A4A8 none;
		-pie-background: #29A4A8;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component li > a:hover
	{
		background-color: #2B857E;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #2B857E;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #2B857E;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #2B857E;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component ul ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #2B857E;
	}

	ul.menu._Skins_Top_Nav_Menu.mc-component li > a.selected:hover
	{
		background-color: #29A4A8;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete ul
	{
		background-color: #ffffff;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-item a
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-item
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-content
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-history
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component
	{
		
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-field
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-submit
	{
		
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-filter
	{
		background: #cE1141 url('Images/FilterOutline.png') no-repeat center center;
		-pie-background: #cE1141 url('Skins/Default/Stylesheets/Components/Images/FilterOutline.png') no-repeat center center;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-filter-content
	{
		top: 30px;
		background-color: #ffffff;
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-filter-wrapper.open
	{
		-pie-background: #cE1141 url('Skins/Default/Stylesheets/Components/Images/FilterOutline.png') no-repeat center center;
		background-color: #ffffff;
		background-repeat: no-repeat;
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-filter:hover
	{
		background-color: #cE1141;
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-filter.selected
	{
		background: transparent url('Images/Filter.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/Filter.png') no-repeat center center;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	._Skins_Top_Nav_SearchBar.mc-component .search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-field::-webkit-input-placeholder
	{
		
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-field::-moz-placeholder
	{
		
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-field:-moz-placeholder
	{
		
	}

	.search-bar._Skins_Top_Nav_SearchBar.mc-component .search-field:-ms-input-placeholder
	{
		
	}

	.search-bar.search-bar-container._Skins_Top_Nav_SearchBar.mc-component .search-submit
	{
		background: #CE1141 url('Images/Search_White_16x16.png') no-repeat center center;
		-pie-background: #CE1141 url('Skins/Default/Stylesheets/Components/Images/Search_White_16x16.png') no-repeat center center;
	}

	.search-bar.search-bar-container._Skins_Top_Nav_SearchBar.mc-component .search-submit:hover
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #CE1141;
	}
}

